<%- include('../../partials/header') %>

<section id="show-page">
  <div>
    <h2
      class="mt-6 text-center text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl"
    >
      <%= database.title %>
    </h2>
  </div>
  <div>
    <p class="py-6 px-6 text-center mb-3 text-gray-500 dark:text-gray-400">
      <%= database.content %>
    </p>
  </div>
  <% if (user) { %>
  <button id="edit-button" class="inline-flex items-center justify-center">
    <svg
      fill="none"
      stroke="currentColor"
      stroke-width="1.5"
      viewBox="0 0 24 24"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"
      ></path>
    </svg>
  </button>
  <div id="edit-form" class="hidden">
    <form
      method="POST"
      action="/documentations/databases/<%= database._id %>?_method=PUT"
    >
      <input type="hidden" name="databaseId" value="<%= database._id %>" />
      <textarea name="content"><%= database.content %></textarea>
      <input type="submit" value="Save" />
    </form>
  </div>
  <% } %>
</section>

<h2
  class="mt-6 text-center text-lg font-bold tracking-tight text-gray-900 sm:text-6xl"
>
  Comment Section
</h2>
<% if (user) { %>
<form
  id="add-comment-form"
  method="POST"
  action="/documentations/databases/<%= database._id %>/comments"
>
  <div
    class="max-w-2xl mb-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-700 dark:border-gray-600"
  >
    <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
      <label for="comment" class="sr-only">Your comment</label>
      <textarea
        name="text"
        id="comment"
        rows="4"
        class="max-w-2xl px-0 text-sm text-gray-900 bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white dark:placeholder-gray-400"
        placeholder="Write a comment..."
        required
      ></textarea>
    </div>
    <div
      class="flex items-center justify-end px-3 py-2 border-t dark:border-gray-600"
    >
      <div class="flex pl-0 space-x-1 sm:pl-2">
        <button
          type="button"
          class="inline-flex justify-center p-2 text-gray-500 rounded cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600"
        >
          <input
            class="px-5 flex justify-center"
            type="submit"
            value="Add Comment"
          /><svg
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            fill-rule="evenodd"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
            aria-hidden="true"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5"
            ></path>
          </svg>
          <span class="sr-only">Post Comment</span>
        </button>
      </div>
    </div>
  </div>
</form>
<p class="ml-auto text-xs text-gray-500 dark:text-gray-400">
  Remember, contributions to this topic should follow our
  <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline"
    >Community Guidelines</a
  >.
</p>

<br /><br />
<h2>Comment Section:</h2>

<% } %> <% if (database.comments.length) { %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% database.comments.forEach(function(c) { %>
    <tr>
      <td class="comment-user">
        <img alt="avatar" src="<%= c.userAvatar %> referrerpolicy="no-referrer"
        ><%= c.userName %>
      </td>
      <td><%= c.createdAt.toLocaleDateString() %></td>
      <td><%= c.text %></td>
      <td>
        <% if (user?._id.equals(c.user)) { %>
        <form
          action="/documentations/databases/<%= database._id %>/comments/<%= c._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
        <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<% } else { %>
<h5>No Comments Yet</h5>
<% } %>

<script>
  const editButton = document.getElementById("edit-button");
  const editForm = document.getElementById("edit-form");

  editButton.addEventListener("click", () => {
    editForm.classList.toggle("hidden");
  });
</script>

<style>
  .hidden {
    display: none;
  }
</style>

<%- include('../../partials/footer') %>
