<%- include('../../partials/header') %>

<h1>SYNTAXIFY</h1>

<h1><%= language.title %></h1>

<p><%= language.content %></p>

<section class="comments">
  <br /><br />
  <h2>Comment Section:</h2>
  <% if (user) { %>
  <form
    id="add-comment-form"
    method="POST"
    action="/documentations/languages/<%= language._id %>/comments"
  >
    <label>Add a Comment:</label>
    <textarea name="text"></textarea>
    <input type="submit" value="Add Comment" />
  </form>
  <% } %> <% if (language.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% language.comments.forEach(function(c) { %>
      <tr>
        <td class="comment-user">
          <img alt="avatar" src="<%= c.userAvatar %>
          referrerpolicy="no-referrer" ><%= c.userName %>
        </td>
        <td><%= c.createdAt.toLocaleDateString() %></td>
        <td><%= c.text %></td>
        <td>
          <% if (user?._id.equals(c.user)) { %>
          <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
            <button type="submit">X</button>
          </form>
          <% } %>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>

  <% } else { %>
  <h5>No Comments Yet</h5>
</section>
<% } %> <%- include('../../partials/footer') %>
