<<<<<<< HEAD
<%- include('../../partials/header') %>

<h1>SYNTAXIFY</h1>
<table id="list">
  <thead>
    <tr>
      <th>Frameworks</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% frameworks.forEach(function(f) { %>
    <tr>
      <td><%= f.title %></td>
      <td>
        <a href="/documentations/frameworks/<%= f._id %>">MORE DETAILS</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<%- include('../../partials/footer') %>
=======
<%- include('../partials/header') %>

<h1>SYNTAXIFY</h1>
<table id="list">
    <thead>
      <tr>
        <th>Frameworks</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% frameworks.forEach(function(f) { %>
        <tr>
          <td><%= d.title %></td>
          <td><a href="/documentations/frameworks/<%= f._id %>">MORE DETAILS</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>
>>>>>>> 82d7bf2 (Revisions)
