<%- include('../../partials/header') %>

<h1>SYNTAXIFY</h1>

<section id="show-page">
  <div><%= framework.title %></div>
  <div><%= framework.content %></div>
  <% if (user) { %>
  <button id="edit-button">Edit</button>
  <div id="edit-form" class="hidden">
    <form
      method="POST"
      action="/documentations/frameworks/<%= framework._id %>?_method=PUT"
    >
      <input type="hidden" name="frameworkId" value="<%= framework._id %>" />
      <textarea name="content"><%= framework.content %></textarea>
      <input type="submit" value="Save" />
    </form>
  </div>
  <% } %>
</section>

<br /><br />
<h2>Comment Section:</h2>
<% if (user) { %>
<form
  id="add-comment-form"
  method="POST"
  action="/documentations/frameworks/<%= framework._id %>/comments"
>
  <label>Add a Comment:</label>
  <textarea name="text"></textarea>
  <input type="submit" value="Add comment" />
</form>
<% } %> <% if (framework.comments.length) { %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Date</th>
      <th>Comment</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% framework.comments.forEach(function(c) { %>
    <tr>
      <td class="comment-user">
        <img alt="avatar" src="<%= c.userAvatar %> referrerpolicy="no-referrer"
        ><%= c.userName %>
      </td>
      <td><%= c.createdAt.toLocaleDateString() %></td>
      <td><%= c.text %></td>
      <td>
        <% if (user?._id.equals(c.user)) { %>
        <form
          action="/documentations/frameworks/<%= framework._id %>/comments/<%= c._id %>?_method=DELETE"
          method="POST"
        >
          <button type="submit">X</button>
        </form>
        <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>

<% } else { %>
<h5>No Comments Yet</h5>
<% } %>
<script>
  const editButton = document.getElementById("edit-button");
  const editForm = document.getElementById("edit-form");

  editButton.addEventListener("click", () => {
    editForm.classList.toggle("hidden");
  });
</script>

<style>
  .hidden {
    display: none;
  }
</style>

<%-include('../../partials/footer') %>
